/*
Dark Admin :)
*/
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,300italic,600italic);
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.screen-reader-shortcut { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; }

.screen-reader-shortcut:hover, .screen-reader-shortcut:active, .screen-reader-shortcut:focus { display: block; clip: auto !important; top: 10px; left: 10px; padding: 8px 16px; border-radius: 6px; border: 1px solid #7B8895; border-bottom-width: 2px; -webkit-box-shadow: 0 0 0 3px #4ac2ff; box-shadow: 0 0 0 3px #4ac2ff; background: #fff; outline: none; color: #009fd4; font-size: 14px; font-weight: 400; text-decoration: none; z-index: 100000; }

.clear:before, .clear:after { content: ""; display: table; }

.clear:after { clear: both; }

a { text-decoration: none; background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#4ac2ff)); background-image: -webkit-linear-gradient(top, transparent 75%, #4ac2ff 50%); background-image: linear-gradient(to bottom, transparent 75%, #4ac2ff 50%); background-repeat: repeat-x; -webkit-background-size: 2px 2px; background-size: 2px 2px; background-position: 0 1.125em; color: #4ac2ff; text-decoration: none; }

a:hover, a:active, a:focus { -webkit-background-size: 2px 6px; background-size: 2px 6px; background-position: 0 0.875em; }

@media not all, only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 2) { a { background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#4ac2ff)); background-image: -webkit-linear-gradient(top, transparent 75%, #4ac2ff 75%); background-image: linear-gradient(to bottom, transparent 75%, #4ac2ff 75%); background-repeat: repeat-x; } }

.dark-admin { background: #fff; color: #3f5e6d; font-family: 'Source Sans Pro', sans-serif; font-weight: 300; font-size: 0.875em; line-height: 1.5; }

.media-frame { display: none; }

#wpbody, #wpfooter { margin-left: 200px; padding: 48px; }

#wpwrap { position: relative; min-height: 100vh; }

.index-php { background: #23282d; color: #bdc8d3; }

#adminmenuwrap { position: absolute; top: 0; bottom: 0; width: 200px; background: #23282d; }

#adminmenu { float: left; margin-top: 52px; width: 200px; }

#adminmenu a { display: block; padding: 6px 16px; color: #bdc8d3; background: none; }

#adminmenu a:focus, #adminmenu a:hover { color: #4ac2ff; }

#adminmenu .wp-has-current-submenu { -webkit-box-shadow: inset 8px 0 0 #4ac2ff; box-shadow: inset 8px 0 0 #4ac2ff; color: #4ac2ff; }

#adminmenu .current a { color: #fff; }

.wp-submenu-head { display: none; }

.wp-menu-image { float: left; width: 20px; }

.wp-menu-name { margin-left: 36px; }

.wp-submenu { display: none; margin-bottom: 8px; background: #2f3740; -webkit-box-shadow: inset 8px 0 0 #3F4C5A; box-shadow: inset 8px 0 0 #3F4C5A; }

.wp-menu-open + .wp-submenu { display: block; }

.update-plugins, .awaiting-mod { margin-left: 8px; }

.update-plugins.count-0, .awaiting-mod.count-0 { display: none; }

#menu-dashboard .wp-submenu { display: none; }

#menu-appearance { margin-top: 32px; }

#collapse-menu { display: none; }

#contextual-help-wrap { display: none; }

#contextual-help-link { float: right; }

#screen-options-wrap { display: none; }

#show-settings-link { float: right; }

/*# sourceMappingURL=dark-admin.css.map */