// ==========================================================================
// Screen reader text
// Text meant only for screen readers
// ==========================================================================

@mixin screen-reader-text() {
	position: absolute;
	left: -1000em;
	top: -1000em;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
