// ==========================================================================
// Colors
// ==========================================================================

// ==========================================================================
// Dark Admin colors
// ==========================================================================
$gray--ultralight: #efe6ed;
$gray--light: #bdc8d3;
$gray--dark: #23282d;

$blue--light: #4ac2ff;
$blue: #009fd4;

$text: #3f5e6d;

$red: #ff4373;
