// ==========================================================================
// Admin Menu (sidebar)
// ==========================================================================

#adminmenu { // UGH. Dang IDs!
	float: left;
	width: 200px;
	background: $gray--dark;

	a {
		display: block;
		padding: 6px 16px;
		color: $gray--light;
		background: none;

		&:focus,
		&:hover {
			color: $blue--light;
		}
	}
	.current {
		box-shadow: inset 8px 0 0 $blue--light;
		color: $blue--light;
	}
}

.wp-submenu-head {
	display: none;
}
