// ==========================================================================
// Main
// ==========================================================================

// TODO Properly import font so various character sets can be used
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,300italic,600italic);

.dark-admin {
	background: #fff;
	color: $text;
	font-family: 'Source Sans Pro', sans-serif; // TODO break out when base styles or typography component(s) are created
	font-weight: 300;
	font-size: em( 14px, 16px );
	line-height: 1.5;
}

// TODO temporary
.media-frame {
	display: none;
}

// TODO temporary fix
#wpbody,
#wpfooter {
	margin-left: 200px;
	padding: 48px;
}

#wpwrap {
	position: relative;
	min-height: 100vh;
}
